body {
	margin: 0;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	user-select: none;
}

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 9999;
	background-color: #6f3e075b;
	color: #6f3e07;
	border-radius: 20%;
}

.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px;
	/*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;

}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}

.title-bold {
	font-family: "Lora", serif;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

::-webkit-scrollbar {
	width: 1;
}

.background {
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fda592;
	font-family: "Roboto", sans-serif;
	z-index: -2;
}

body::-webkit-scrollbar {
	display: none;
}

header {
	margin-top: 1.5rem !important;
	z-index: 10000000 !important;
}

.container-nav {
	margin: 0 100px;
}

.navbar li a {
	color: #6f3f07;
}
.navbar li a:hover {
	color: #6f3e07;
}

.navbar li a::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	display: block;
	transition: all 0.3s ease;
	bottom: 25%;
}

.navbar li a:hover::after {
	width: 10%;
	height: 1px;
	background-color: #6f3f07;
}

#logo {
	max-width: 40px;
}

button {
	background-color: transparent;
	border: none;
}

.btn-three {
	color: #6f3f07;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #6f3e071e;
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
}
.btn-three::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid #6f3e0754;
	transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}

.profile {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	border-bottom: 2px solid #6f3e07;
}

.profile:hover {
	animation-name: rubberBand;
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

#Vector-bg {
	animation: background 5s cubic-bezier(0.76, 0, 0.24, 1) 2s 1 alternate
		forwards;
}

#Vector-bg1 {
	animation: ungroup 10s ease-in-out 7s infinite alternate forwards;
}
#Vector-bg2 {
	animation: ungroup 9s ease-in-out 8s infinite alternate forwards;
}
#Vector-bg3 {
	animation: ungroup3 10s ease-in-out 8s infinite alternate forwards;
}
#Vector-bg4 {
	animation: ungroup 9s ease-in-out 7s infinite alternate forwards;
}

@keyframes ungroup {
	0% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(0.95);
		transform-origin: 100% 0%;
	}
}
@keyframes ungroup3 {
	0% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(0.8);
		transform-origin: 100% 0%;
	}
}

@keyframes background {
	0% {
		transform: scaleY(0.4);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}
}
/* animation================================================== */

/* circle mask */
.background-bottom {
	width: 100vw;
	position: absolute;
	margin-left: 0px;
	-moz-transform: scale(1.1) rotate(180deg);
	-webkit-transform: scale(1.1) rotate(180deg);
	-o-transform: scale(1.1) rotate(180deg);
	-ms-transform: scale(1.1) rotate(180deg);
	transform: scale(1.1) rotate(180deg);
	border-radius: 50% 50% 0% 0%;
}

#vector-bg-bt {
	margin: auto;
	-moz-transform: scale(1.01);
	-webkit-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}

#contact {
	height: 150vh;
	width: 100%;
}

.form-control {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #6f3e07;
	border-radius: 0;
	outline: none;
	color: #6f3e07;
}

.form-control:focus {
	background-color: transparent;
	border-width: 2px;
	border-color: #6f3e07;
	border-image-slice: 1;
	box-shadow: none;
	color: #6f3e07;
}

.form-control::placeholder {
	color: #6f3e077c;
}

footer {
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: -9;
}

footer .content {
	padding-top: 33vh;
}

.section {
	position: relative;
	width: 100%;
	display: block;
}
.full-height {
	min-height: 100vh;
}
.over-hide {
	overflow: hidden;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
	margin-right: 6px;
	margin-left: 6px;
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid #6f3e07;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background-image: url("/images/p1.png");
	animation: border-transform 6s linear infinite alternate forwards;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}
.checkbox.scnd + label {
	background-image: url("images/p2.png");
}
.checkbox.thrd + label {
	background-image: url("images/p3.png");
}
.checkbox.foth + label {
	background-image: url("images/p4.png");
}

.checkbox:checked + label {
	box-shadow: 0 8px 25px 0 #6f3e0744;
	transform: scale(1.3);
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	animation-play-state: running;
}
@keyframes border-transform {
	0%,
	100% {
		border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
	}
	14% {
		border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
	}
	28% {
		border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
	}
	42% {
		border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
	}
	56% {
		border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
	}
	70% {
		border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
	}
	84% {
		border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
	}
}

.slider-height-padding {
	padding-top: 390px;
}

.section ul {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	z-index: 100;
	padding: 0;
	margin: 0;
	list-style: none;
}
.section ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 100;
	padding: 0;
	margin: 0;
	list-style: none;
	height: 350px;
	background-size: cover;
	background-position: center;
	background-image: url("images/p1.png");
	border-radius: 50%;
	box-sizing: border-box;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 2.7;
	writing-mode: vertical-rl;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.section ul li span {
	mix-blend-mode: difference;
}
.section ul li span a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
}

.section ul li:nth-child(2) {
	background-image: url("images/p2.png");
}
.section ul li:nth-child(3) {
	background-image: url("images/p3.png");
}
.section ul li:nth-child(4) {
	background-image: url("images/p4.png");
}

.checkbox.frst:checked ~ ul li:nth-child(1) {
	opacity: 1;
	pointer-events: auto;
	border-radius: 0px;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
	opacity: 1;
	pointer-events: auto;
	border-radius: 0px;
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
	opacity: 1;
	pointer-events: auto;
	border-radius: 0px;
}
.checkbox.foth:checked ~ ul li:nth-child(4) {
	opacity: 1;
	pointer-events: auto;
	border-radius: 0px;
}

@media (max-width: 767px) {
	.slider-height-padding {
		padding-top: 300px;
	}
	.section ul li {
		height: 300px;
		font-size: 13px;
		letter-spacing: 1px;
	}
}

@media (max-width: 575px) {
	.slider-height-padding {
		padding-top: 240px;
	}
	.section ul li {
		height: 200px;
	}
}

/* icon */

h1 .icon i:hover {
	color: #000;
}
@media (min-width: 1024px) {
	.container-slider {
		padding-left: 25%;
		padding-right: 25%;
	}
	footer {
		margin-top: 10%;
	}
}

/* !responsive */

@media only screen and (min-width: 0px) and (max-width: 320px) {
	.container-nav {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container-slider {
		padding-left: 3vh;
		padding-right: 3vh;
	}

	.snap {
		scroll-snap-align: center;
	}

	.snap-parent {
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100vh;
	}

	.container-slider {
		display: flex;
		justify-content: center;
		height: 90vh;
	}
	#project {
		height: 100vh;
	}
	#contact {
		height: 100vh;
	}
	.form-contact {
		padding: 0 10%;
	}
	.background-bottom {
		display: none;
	}
	footer {
		height: 100vh;
	}
	.logo-bottom {
		margin: auto;
		padding-bottom: 0vh;
	}
	.line {
		display: none;
	}
}

@media only screen and (min-width: 375px) and (max-width: 450px) {
	.container-nav {
		padding-top: 15px;
	}
	.hero {
		margin-top: -10vh;
	}
	.button-hire {
		display: none;
	}
	.profile {
		max-width: 50vw;
		margin-top: 10vh;
	}
	#project {
		padding-left: 8%;
		padding-right: 8%;
	}
	.container-slider {
		height: 70vh;
		display: flex;
		align-items: center;
	}
	#contact {
		height: 100vh;
	}
	.form-contact {
		padding: 0 10%;
	}
	.background-bottom {
		display: none;
	}
	.line {
		display: none;
	}
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
	.background-bottom {
		display: none;
	}
	.profile {
		max-width: 60%;
		margin-top: 10vh;
	}
	#project {
		padding-left: 8%;
		padding-right: 8%;
	}
	#contact {
		height: 100vh;
	}
	.line {
		display: none;
	}
}
@media only screen and (min-width: 1400px) and (max-width: 15000px) {
	#project {
		padding-top: 5%;
	}
}

lottie-player {
	margin: 2rem auto 0 auto;
	padding: 0 0 100px 0;
}
